{% extends 'index/base.html' %}
{% load static %}
{% block title %}
Страница оплаты парковки
{% endblock %}
{% block content %}
<form  action="" method="post" name="myForm">
    {% csrf_token %}
    {% comment %}
    {{ form.as_p }}
    {% endcomment %}
      <center>
          <h3 class="label_parking">Оплата парковки</h3>
                 <a class="btn btn-info" href="{% url 'paymenttickets' %}" role="button">Перейти к оплате абонемента</a>
      {% csrf_token %}
      <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="block_payment">
<h5>Выберите адрес парковки</h5>
            {{ form.not_field.errors }}
  <div class="form-group">
   <label for="{{ formparking.adress.id_for_label }}" id="select"></label>
      {{ formparking.adress }}
      <div class="invalid-feedback">
      {{ formparking.adress.errors }}
      </div>
  </div>
                        <div class="form-group">
                        <h5>Введите государственный номер</h5>
    <label for="{{ formparking.carnumber.id_for_label }}"></label>
      {{ formparking.carnumber }}
      <div class="invalid-feedback">
      {{ formparking.carnumber.errors }}
      </div>
  </div>
                        <h5>Введите количество времени</h5>
    <label for="{{ formparking.amountoftime.id_for_label }}"></label>
      {{ formparking.amountoftime }}
      <div class="invalid-feedback">
      {{ form.amountoftime.errors }}
      </div>
             <div class="form-group">
                        <h5>Цена</h5>
    <label for="{{ formparking.price.id_for_label }}"></label>
      {{ formparking.price }}
      <div class="invalid-feedback">
      {{ formparking.price.errors }}
      </div>
  </div>
            <div class="form-group">
                <h5>Введите номер телефона</h5>
    <label for="{{ formparking.telephone.id_for_label }}"></label>
      {{ formparking.telephone }}
      <div class="invalid-feedback">
      {{ formparking.telephone.errors }}
      </div>
  </div>
                        <div id="errorMess"></div>
           <button type="submit" class="btn btn-info" id="button">Перейти к оплате</button>
  </div>
    <div class="col-sm-3">
    </div>
  </div>
    </div>
      </center>
</form>
{% endblock %}
{% block js %}
<script src="{% static 'index/js/payment.js' %}"></script>
{% endblock %}
