{% extends 'index/base.html' %}
{% block title %}
Страница тарифов
{% endblock %}
{% block content %}
  <center><h1 class="parking">Тарифы</h1></center>
 {% for item in parking %}
          <div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
              <div class="block">
        <div class="adress"><center><h3>{{ item.adress }}</h3></center></div>
                  <div class="mintime"><h4>Минимальное время: {{ item.minimaltimeforpayment }}</h4></div>
                  <div class="price"><h4>Цена,руб: {{ item.price }} руб/час</h4></div>
                  <center><h3>Абонементы</h3></center>
                   {% for v in item.tickets.all %}
                      <!-- <div class="adresstickets"><h4>Адрес парковки: {{ item.adress }}</h4></div> !-->
                       <div class="numberofdays"><h4>Количество дней: {{ v.numberofdays }}</h4></div>
                 <div class="validityperiod"><h4>Время действия: {{ v.time }}</h4></div>
                      <div class="pricetickets"><h4>Цена: {{ v.price }}</h4></div><br>
                           {% endfor %}
                      </div>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
    {% endfor %}
{% endblock %}
{% block footer %}
{% include 'index/footer.html' %}
{% endblock %}